.cart_container {
  margin: 30px auto;
}

.cart_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;

  color: #fff;

  background-color: #000;
}

.cart_items {
  padding: 0;

  list-style-type: none;
}

.cart_item {
  display: flex;
  padding: 10px 0;

  border-bottom: 1px solid #555;
}

.empty_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: #000;
  font-size: 20px;
}

.cart_info {
  display: flex;
  align-items: center;
  width: 100%;
}

.cart_item_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 10px;
}

.cart_item_image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart_item_details {
  width: 490px;
  display: flex;
  flex-direction: column;
}

.cart_quantity,
.cart_total_price {
  margin-left: 10px;
}

.cart_quantity {
  margin-left: 240px;
}

.cart_item_details p {
  max-width: 250px;
}

.cart_item_details span {
  margin: 10px 0;
}

input {
  outline: none;
}

.remove_item {
  color: red;
  text-align: left;

  border: none;
  background: transparent;

  cursor: pointer;
}

.cart_summary {
  display: block;
  float: right;
}

.cart_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;

  color: #fff;

  background-color: #000;
}

.cart_item {
  padding: 10px 0;
}

.cart_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_summary {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-top: 20px;

  border-top: 3px solid #4e4241;
}

.summary_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary_item span {
  margin: 10px 0;
}

.summary_item span:first-child {
  width: 70%;

  text-align: left;
}

.summary_item span:last-child {
  width: 30%;

  text-align: right;
}

.summary_btn {
  width: 100%;
  padding: 10px 30px;
  margin: 30px 0;

  text-align: center;
  color: #fff;

  background-color: #222222;
  border-radius: 5px;
  border: none;

  cursor: pointer;
}
