.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__menu {
  display: inline-flex;
  gap: 10px;

  cursor: pointer;
}

.search {
  margin-right: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.search_icon {
  position: absolute;
  left: 15px;

  color: #aaa;
  font-size: 20px;
}

.search input {
  width: 100%;
  padding: 10px 10px 10px 40px;

  color: #fff;

  outline: none;
  border-radius: 10px;
  background-color: #000;
  border: 1px solid #444;

  transition: border-color 0.3s;
}

.search input::placeholder {
  color: #aaa;

  opacity: 0.8;
}

.search_dropdown {
  margin-top: 5px;
  overflow-y: auto;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: #000;
  border-radius: 10px;
  max-height: 200px;
}

.dropdown_item {
  display: flex;
  align-items: center;
  padding: 10px;

  color: #828282;
  line-height: 1.5;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.dropdown_item_price {
  margin-top: 4px;

  font-size: 12px;
  color: #fff;
}

.dropdown_item_image {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.cart_badge {
  position: absolute;
  top: 0;
  right: 0;

  color: white;
  font-size: 12px;

  background-color: #563434;
  border-radius: 50%;
  padding: 2px 6px;
}
