.product_detail {
  padding: 100px 0 40px 0;
}

.product_image {
  width: 100%;
}

.product_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product_rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}

.product_btn {
  width: 100%;
  display: block;
  padding: 8px 30px;
  margin: 30px 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #222222;
  transition: background 0.5s;
}

.product_btn:hover {
  background-color: #563434;
}

.product_info {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  color: #000;
  font-weight: 700;
}

.product_list {
  line-height: 1.5;
}

.product_col {
  flex-basis: 50%;
}

.product_col:first-child {
  padding-right: 40px;
}

.product_toptitle {
  color: #555;
}

.product_secondtitle {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 700;
}

.product_image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.thumbnail_row {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 10px;
}

.thumbnail_image {
  width: 115px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.product_review p {
  margin: 5px 0 15px 0;
  color: #555;
}

textarea {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  resize: none;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
}

.reviews {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.review-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
}

.modal_content {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 90%;
  position: relative;
}

.modal_actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkmark_container {
  display: flex;
  justify-content: center;
}

.checkmark_circle {
  width: 40px;
  height: 40px;
  border: 3px solid green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.checkmark {
  font-size: 20px;
  color: green;
}

.close_button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.continue_button,
.cart_button {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
}

.cart_button {
  background-color: #ffc107;
  color: #000;
}

.continue_button {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #000;
}

.cart_button:hover,
.continue_button:hover {
  opacity: 0.8;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmation_text {
  color: green;
  font-size: 20px;
  margin-top: 10px;
}
